@page "/"
@page "/tab"
@using TabSSOGraphUploadPDF.Components;

<div>
  <div class='dropZoneBG'>
    Drag your file here:
    <div class="dropZone" 
          ondragenter="TabPDF.Drag.enableHighlight(event)"
          ondragleave="TabPDF.Drag.disableHighlight(event)"
          ondragover="TabPDF.Drag.allowDrop(event)"
          ondrop="TabPDF.executeUpload(event)">
      <div style="display: none;" class="loader">
        <FluentProgressRing />
      </div>
      <i class="ms-Icon ms-Icon--PDF pdfLogo" aria-hidden="true"></i>
    </div>
  </div>
</div>



